* {
	box-sizing: border-box;
	word-break: break-all;
}

html,
body {
	color: @font;
	font: 14px/1.5 @font-family;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}